.hero {
  position: relative;
  width: 100%;
}

.herobg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../assets/emeraldgold.jpeg") no-repeat fixed;
  background-size: cover;
  opacity: 0.5;
}

/* .hero:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  /* background-repeat: no-repeat; */
/* background-position: 50% 0; */
/* background-size: cover; */
/* background: url("../assets/emeraldgold.jpeg") no-repeat fixed; */
/* }  */

.timma {
  background: url("../assets/timma.jpeg") no-repeat fixed;
  background-position: top;
  background-size: cover;
}

.adipk {
  font-family: "Monsieur La Doulaise", serif;
  font-weight: 300;
  font-size: max(9vw, 30px);
  /* color: floralwhite; */
}

.gettingmarried {
  font-family: "Nanum Myeongjo", serif;
  font-size: min(5vw, 15px);
  color: floralwhite;
}
